.cards {
  max-width: 960px;
  margin: 0 auto 0;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 0;
}

.card {
  position: relative;
}

.row {
  max-width: 960px;
  margin: 0 auto 0;
}

.example-container {
  width: 100%;
  background: none;
}

.example-sidenav-content {
  height: 100%;
  padding: 20px;
}

.example-sidenav {
  padding: 20px;
  width: 300px;
  background: #fbfbfb;
}
