<mat-drawer-container autosize>

  <mat-drawer #drawer (openedChange)="onResize()" class="sidenav" mode="side" [opened]="true">
    <app-filter (onReady)="filterChange($event)" (onChange)="filterChange($event)"
                goButtonIcon="flight_takeoff" goButtonText="Flights" goButtonLink="/flights"></app-filter>
  </mat-drawer>

  <div class="title">
    <div>
      <mat-icon>show_chart</mat-icon>
      <h1 class="mat-h1">Statistics</h1>
    </div>

    <button mat-fab color="primary" (click)="drawer.toggle()">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <div class="content">
    <div class="double">
      <google-chart #typesChartView [data]="typesChart"></google-chart>
      <google-chart #airlinesChartView [data]="airlinesChart"></google-chart>
    </div>

    <div class="single">
      <google-chart #flightsChartView [data]="flightsChart"></google-chart>
    </div>

    <div class="double">
      <google-chart #originsChartView [data]="originsChart"></google-chart>
      <google-chart #destinationsChartView [data]="destinationsChart"></google-chart>
    </div>

    <div class="single">
      <google-chart #routesChartView [data]="routesChart"></google-chart>
    </div>
  </div>

</mat-drawer-container>




