<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-filter (onReady)="filterReady($event)"  (onChange)="filterChange($event)"></app-filter>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="row">
      <h1 class="mat-h1">
        <button mat-mini-fab color="primary" (click)="drawer.toggle()">
          <mat-icon>filter_list</mat-icon>
        </button>
        Statistics
      </h1>
    </div>

    <div class="cards">
      <div class="card">
        <google-chart [data]="aircraftsChart" ></google-chart>
      </div>

      <div class="card">
        <google-chart [data]="airlinesChart" ></google-chart>
      </div>
    </div>

    <div class="row">
      <google-chart [data]="flightsChart" ></google-chart>
    </div>

    <div class="cards">
      <div class="card">
        <google-chart [data]="originsChart" ></google-chart>
      </div>
      <div class="card">
        <google-chart [data]="destinationsChart" ></google-chart>
      </div>
    </div>
  </div>

</mat-drawer-container>




