<h1 class="mat-h1">Filter</h1>

<app-datepicker [value]="model.dateFrom" (onChange)="change()" title="Date from"></app-datepicker>
<app-datepicker [value]="model.dateTo" (onChange)="change()" title="Date to"></app-datepicker>

<app-autocomplete-aircrafts (onChange)="change()" [values]="model.aircrafts" chipColor="#E1BEE7"></app-autocomplete-aircrafts>
<app-autocomplete-types (onChange)="change()" [values]="model.types" chipColor="#C5CAE9"></app-autocomplete-types>
<app-autocomplete-airlines (onChange)="change()" [values]="model.airlines" chipColor="#B3E5FC"></app-autocomplete-airlines>
<app-autocomplete-routes (onChange)="change()" [values]="model.routes" chipColor="#B2DFDB"></app-autocomplete-routes>
<app-autocomplete-airports (onChange)="change()" [values]="model.origins" chipColor="#DCEDC8" [title]="'Origins'"></app-autocomplete-airports>
<app-autocomplete-airports (onChange)="change()" [values]="model.destinations" chipColor="#FFF9C4" [title]="'Destinations'"></app-autocomplete-airports>

<div class="buttons">
  <button mat-raised-button color="primary" (click)="clear()" ><mat-icon>clear</mat-icon> Clear</button>
  <button mat-raised-button color="accent"><mat-icon>{{goButtonIcon}}</mat-icon> {{goButtonText}}</button>
</div>
