<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Rosty's RADAR</span>

    <span class="example-spacer"></span>

    <button mat-button>Dashboard</button>
    <button mat-button>Flights</button>
    <button mat-button>Aircrafts</button>
    <button mat-button>Airlines</button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
    <input matInput placeholder="Test input">
  </mat-form-field>

  <br>

  <button mat-raised-button>Press me</button>
  <mat-spinner></mat-spinner>
</mat-card>

<router-outlet></router-outlet>
