<mat-card class="details-card" xmlns="http://www.w3.org/1999/html">

  <button (click)="closeClick()" mat-mini-fab color="accent">
    <mat-icon>close</mat-icon>
  </button>

  <mat-card-content>
    <!-- Callsign & route number -->
    <div class="row flex-block">
      <span *ngIf="callsign" class="callsign" (click)="navStats('routes', callsign)">{{callsign}}</span>
      <span *ngIf="!callsign" class="callsign unknown">UNKNOWN</span>
      <span *ngIf="routeNumber" class="route-number">
        IATA: <a [routerLink]="['/stats']" [queryParams]="{routes: callsign}">{{routeNumber}}</a></span>
    </div>

    <!-- Airports -->
    <div *ngIf="airportFromCode && airportToCode" class="row flex-block">
       <span *ngIf="airportFromCountry"
             matTooltip="{{airportFromCountry.code}} - {{airportFromCountry.name}}"
             matTooltipPosition="right"
             [ngClass]="'flag-icon flag-icon-'+airportFromCountry.code.toLowerCase()"></span>

      <div class="airport" (click)="navStats('origins', airportFromCode)"
           matTooltip="{{airportFromIata}} - {{airportFromName}}">
        <div>{{airportFromCode}}</div>
        <div>{{airportFromCity}}</div>
      </div>

      <span>&rarr;</span>

      <div class="airport" (click)="navStats('destinations', airportToCode)"
           matTooltip="{{airportToIata}} - {{airportToName}}">
        <div>{{airportToCode}}</div>
        <div>{{airportToCity}}</div>
      </div>

      <span *ngIf="airportToCountry"
            matTooltip="{{airportToCountry.code}} - {{airportToCountry.name}}"
            matTooltipPosition="left"
            [ngClass]="'flag-icon flag-icon-'+airportToCountry.code.toLowerCase()"></span>
    </div>

    <!-- Type -->
    <div *ngIf="aircraftType" class="row">
      <div class="img">
        <a matTooltip="{{aircraftModel}}" [routerLink]="['/stats']" [queryParams]="{types: aircraftType}">
          <img class="op" src="assets/types/{{aircraftType}}.png" onerror="this.src='assets/empty.png'"/>
        </a>
      </div>
      <div class="flex-block">
        <a [routerLink]="['/stats']" [queryParams]="{aircrafts: aircraftRegistration}">{{aircraftRegistration}}</a>
        <a [routerLink]="['/stats']" [queryParams]="{types: aircraftType}">{{aircraftType}}</a>
      </div>
    </div>

    <!-- Airline -->
    <div *ngIf="airlineCode" class="row">
      <div class="img">
        <a matTooltip="{{airlineName}}" [routerLink]="['/stats']" [queryParams]="{airlines: airlineCode}">
          <img src="assets/airlines/{{airlineCode}}.png"
               onerror="this.src='assets/empty.png'"/>
        </a>
      </div>
      <div class="flex-block">
        <a [routerLink]="['/stats']" [queryParams]="{airlines: airlineCode}">{{airlineCode}}</a>
        <small *ngIf="airlineOperatedBy">by {{airlineOperatedBy}}</small>
      </div>
    </div>

    <!-- Data -->
    <div *ngIf="flight" class="row data">
      <div>
        <span matTooltip="Altitude">ALT</span>
        <span *ngIf="flight.altitude">{{flight.altitude | number:'1.0'}}<small>ft</small></span>
        <span *ngIf="!flight.altitude">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Speed">SPD</span>
        <span *ngIf="flight.speed">{{flight.speed | number:'1.0'}}<small>kt</small></span>
        <span *ngIf="!flight.speed">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Vertical Rate">VRT</span>
        <span *ngIf="flight.verticalRate != null">{{flight.verticalRate | number:'1.0'}}<small>ft/min</small></span>
        <span *ngIf="flight.verticalRate == null">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Course">CRS</span>
        <span *ngIf="flight.heading">{{flight.heading | number:'3.0'}}&deg;</span>
        <span *ngIf="!flight.heading">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Latitude">LAT</span>
        <span *ngIf="flight.lat">{{flight.lat | number:'1.5-5'}}</span>
        <span *ngIf="!flight.lat">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Longitude">LON</span>
        <span *ngIf="flight.lon">{{flight.lon | number:'1.5-5'}}</span>
        <span *ngIf="!flight.lon">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Distance">DST</span>
        <span *ngIf="distance">{{distance | number:'1.1-1'}}<small>nm</small></span>
        <span *ngIf="!distance">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Last contact">LCT</span>
        <span *ngIf="flight.age">{{flight.age / 1000 | number:'1.0-0'}}<small>sec</small></span>
        <span *ngIf="!flight.age">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Squawk code">SQK</span>
        <span *ngIf="flight.squawk">{{flight.squawk}}</span>
        <span *ngIf="!flight.squawk">&mdash;</span>
      </div>

      <div>
        <span matTooltip="Received signal strength indicator">RSI</span>
        <span *ngIf="flight.rssi">{{flight.rssi | number:'1.1-1'}}<small>dBFS</small></span>
        <span *ngIf="!flight.rssi">&mdash;</span>
      </div>
    </div>

    <!-- Contact Lost -->
    <div *ngIf="!flight" class="row contact-lost">
      <mat-icon>warning</mat-icon>
      <span>Contact Lost</span>
      <mat-icon>warning</mat-icon>
    </div>

    <!-- Links -->
    <div *ngIf="flight.callsign" class="row flex-block links">
      <a href="http://fr24.com/{{flight.callsign}}" target="_blank">[FR24]</a>
      <a href="https://uk.flightaware.com/live/flight/{{flight.callsign}}" target="_blank">[FlightAware]</a>
      <a href="https://planefinder.net/flight/{{flight.callsign}}" target="_blank">[PlaneFinder]</a>
    </div>
  </mat-card-content>
</mat-card>
