<mat-toolbar>
  <mat-toolbar-row>
    <img routerLink="/" src="assets/logo.svg" style="height: 1.5em; margin-right: .5em"/>
    <span routerLink="/" style="font-weight: 400">Rosty's RADAR</span>

    <span class="spacer"></span>

    <nav mat-tab-nav-bar color="primary">
      <a mat-tab-link
         *ngFor="let link of buttons"
         [routerLink]="link.path"
         routerLinkActive #rla="routerLinkActive"
         [routerLinkActiveOptions]= "{exact: true}"
         [active]="rla.isActive">
        {{link.label}}
      </a>
    </nav>

  </mat-toolbar-row>
</mat-toolbar>
