<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let chip of chips"
      [removable]="true"
      (remove)="removeChip(chip)"
      [style.backgroundColor]="chipColor">
      {{chip}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input [placeholder]="title"
      [matChipInputFor]="chipList"
      [matAutocomplete]="auto"
      [formControl]="autoCompleteChipList"
      (blur)="chipInput.value = ''"
      #chipInput matInput/>
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addChip($event, chipInput)">
    <mat-option *ngFor="let option of options" [value]="getChipText(option)" [innerHTML]="getOptionText(option)"></mat-option>
  </mat-autocomplete>

</mat-form-field>
