<mat-drawer-container class="container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true" (onOpen)="showFilterBtn.checked = true" (onClose)="showFilterBtn.checked = false" >
    <app-filter
      goButtonIcon="show_chart" goButtonText="Stats" goButtonLink="/stats">
    </app-filter>
  </mat-drawer>

  <div class="title">
    <div>
      <mat-icon>flight_takeoff</mat-icon>
      <h1 class="mat-h1">Flights</h1>
    </div>
  </div>

  <div class="content">
    <button mat-fab color="primary" (click)="drawer.toggle()" style="float: right; top: -48px; right: 16px;">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

</mat-drawer-container>




