.content {
  padding: 20px;
  min-height: 1000px;
}

.sidenav {
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 1px rgba(0, 0, 0, .14), 0 1px 2px rgba(0, 0, 0, .28);
}

.title {
  background-color: #9C27B0;

  button {
    position: absolute;
    z-index: 2;
    top: 16px;
    right: 48px;
  }
}

.table {
  box-shadow: 0 0 2px rgba(0, 0, 0, .14), 0 2px 4px rgba(0, 0, 0, .28);
  position: relative;
}

.blurred {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.05);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-column-date {
  min-width: 140px;
  white-space: nowrap;
}

