<mat-drawer-container class="container" autosize>

  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true" (onOpen)="showFilterBtn.checked = true" (onClose)="showFilterBtn.checked = false" >
    <app-filter
      goButtonIcon="show_chart" goButtonText="Stats" goButtonLink="/stats">
    </app-filter>
  </mat-drawer>

  <div class="content">

    <mat-button-toggle #showFilterBtn title="Toggle filter" [checked]="true" style="float: right;" color="primary" (click)="drawer.toggle()">
      <mat-icon>filter_list</mat-icon>
    </mat-button-toggle>

    <div class="row">
      <h1 class="mat-h1"><mat-icon>flight_takeoff</mat-icon> Flights</h1>
    </div>

  </div>

</mat-drawer-container>




