<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let chip of chips"
      [removable]="true"
      (remove)="removeChip(chip)">
      {{chip}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input [placeholder]="title"
      [matChipInputFor]="chipList"
      [matAutocomplete]="auto"
      [formControl]="autoCompleteChipList"
      (blur)="inputBlur(chipInput)"
      #chipInput matInput/>
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addChip($event, chipInput)">
    <mat-option *ngFor="let option of options" [value]="option">
      <span *ngIf="option.country" [ngClass]="'flag-icon flag-icon-'+option.country.code.toLowerCase()"
            matTooltip="{{option.country.code}} - {{option.country.name}}"
            matTooltipPosition="right"></span>
      <span style="font-weight: bolder">{{option.iataCode}}</span> :
      <span>{{ option.name }}</span>
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
