<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let chip of chips"
      [removable]="true"
      [color]="color"
      (remove)="removeChip(chip)">
      {{chip.iataCode}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>

    <input
      [placeholder]="title"
      [matChipInputFor]="chipList"
      [matAutocomplete]="auto"
      [formControl]="autoCompleteChipList"
      (focus)="inputFocus()"
      (blur)="inputBlur(chipInput)"
      [ngModel]="mymodel"
      (ngModelChange)="valuechange($event)"
      #chipInput
      matInput/>
  </mat-chip-list>

  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addChip($event, chipInput)">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      <span [ngClass]="'flag-icon flag-icon-'+option.country.code.toLowerCase()"></span>
      <span style="font-weight: bolder">{{option.iataCode}}</span> :
      <span>{{ option.name }}</span>
    </mat-option>
  </mat-autocomplete>

</mat-form-field>
