// Material design
@import '~@angular/material/theming';

// Include the common styles for Angular Material.
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$radar-app-primary: mat-palette($mat-light-blue);
$radar-app-accent: mat-palette($mat-pink, A200, A100, A400);
$radar-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$radar-app-theme: mat-light-theme($radar-app-primary, $radar-app-accent, $radar-app-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($radar-app-theme);
////
