$flag-icon-css-path: '~flag-icon-css/flags' !default;
@import "~flag-icon-css/sass/flag-icon";
@import "common";

html, body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
}

.gm-style-iw + div {
  display: none;
}

.gm-style-iw div {
  max-width: none !important;
  width: 100%;
}

a {
  color: mat-color($radar-app-primary, 700);
}

/* focus style */
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
  background: none;
}

/* ink bar style */
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  height: 3px;
}

/* google charts flickering bug */
svg > g > g:last-child { pointer-events: none }

// title bar
.title {
  background: mat-color($radar-app-primary, 700);
  height: 48px;
  width: 100%;

  div {
    max-width: 960px;
    margin: 0 auto 0;
    height: 48px;
    display: flex;
    flex-direction: row;
    color: white;

    mat-icon {
      font-size: 30px;
      line-height: 48px;
    }

    h1 {
      line-height: 48px;
      margin: 0 0 0 16px;
      padding: 0;
    }
  }
}

.map-popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  b {
    flex-basis: 100%;
    font-weight: bold;
  }

  span {
    flex-basis: 42.5%;
  }

  span:nth-of-type(2n) {
    text-align: right;
  }
}
