<h1 class="mat-h1">Filter</h1>

<mat-form-field style="width: 100%">
  <input matInput [matDatepicker]="pickerFrom" placeholder="Date from">
  <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
  <mat-datepicker #pickerFrom></mat-datepicker>
</mat-form-field>

<mat-form-field style="width: 100%">
  <input matInput [matDatepicker]="pickerTo" placeholder="Date to">
  <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
  <mat-datepicker #pickerTo></mat-datepicker>
</mat-form-field>

<app-airports-autocomplete></app-airports-autocomplete>

<app-types-autocomplete></app-types-autocomplete>

<app-airlines-autocomplete></app-airlines-autocomplete>

<app-airports-autocomplete
  [title]="'Flights'"></app-airports-autocomplete>

<app-airports-autocomplete
  [title]="'Origins'"></app-airports-autocomplete>

<app-airports-autocomplete
  [title]="'Destinations'"></app-airports-autocomplete>
