<div class="cards">
  <div class="card">
    <mat-form-field style="width: 100%">
      <input matInput [matDatepicker]="picker" placeholder="Date from">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="card">
    <app-chips-autocomplete
      [title]="'Select aircrafts'"></app-chips-autocomplete>
  </div>

  <div class="card">
    <app-chips-autocomplete
      [title]="'Select airlines'"></app-chips-autocomplete>
  </div>

  <div class="card">
    <app-chips-autocomplete
      [title]="'Select origins'"></app-chips-autocomplete>
  </div>

  <div class="card">
    <app-chips-autocomplete
      [title]="'Select destinations'"></app-chips-autocomplete>
  </div>
</div>
