<mat-card style="position: absolute; top: 100px; left: 50px; width: 20%;">
  <mat-card-header style="border: solid 1px red;">
    <mat-card-title>
      <b>KLM15L</b> <small>/ KL1505</small>
      <button  mat-button (click)="closeClick()">X</button>
    </mat-card-title>
    <mat-card-subtitle>KLM Royal Dutch Airlines</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    <p>
      {{flights[details.id].lat}}
    </p>
  </mat-card-content>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>


  <mat-card-actions>
    <button mat-button>CLOSE</button>
  </mat-card-actions>
</mat-card>
