<mat-card style="position: absolute; top: 100px; left: 50px; width: 20%;">
  <mat-card-header>
    <mat-card-title>
      <b>{{callsign}}</b> <small *ngIf="routeNumber">/ {{routeNumber}}</small>
    </mat-card-title>
    <mat-card-subtitle *ngIf="airlineName">{{airlineName}}</mat-card-subtitle>

  </mat-card-header>

  <mat-card-content>
    <p>
      x
    </p>
  </mat-card-content>

  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>


  <mat-card-actions>
    <button mat-button>CLOSE</button>
  </mat-card-actions>
</mat-card>
