.airport-code {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}

.airport-arr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.airport-name {
  text-align: center;
}
