.details-card {
  position: absolute;
  top: 140px;
  left: 10px;
  width: 20%;
}
.airport-code {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
}

.airport-arr {
  text-align: center;
  vertical-align: middle;
}

.airport-name {
  text-align: center;
}
