<mat-card class="details-card">
  <mat-card-content>
    <button (click)="closeClick()" style="right: -16px; top: -16px; position: absolute;" mat-mini-fab color="primary">
      <mat-icon>close</mat-icon>
    </button>

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
        <td><b>{{callsign}}</b> <small *ngIf="routeNumber">/ {{routeNumber}}</small></td>
        <td align="right">

        </td>
      </tr>
    </table>

    <br/>

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
        <td width="10%">
          <span matTooltip="{{airportFromCountry.code}} - {{airportFromCountry.name}}"
                matTooltipPosition="right"
                [ngClass]="'flag-icon flag-icon-'+airportFromCountry.code.toLowerCase()"></span>
        </td>
        <td width="45%" class="airport-code" matTooltip="{{details.route.airportFrom.iataCode}} - {{details.route.airportFrom.name}}">
          {{details.route.airportFrom.code}}
        </td>
        <td class="airport-arr">&rarr;</td>
        <td width="45%" class="airport-code" matTooltip="{{details.route.airportTo.iataCode}} - {{details.route.airportTo.name}}">
          {{details.route.airportTo.code}}
        </td>
        <td width="10%" align="right">
          <span matTooltip="{{airportToCountry.code}} - {{airportToCountry.name}}"
                matTooltipPosition="left"
                [ngClass]="'flag-icon flag-icon-'+airportToCountry.code.toLowerCase()"></span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td class="airport-name">{{details.route.airportFrom.city}}</td>
        <td></td>
        <td class="airport-name">{{details.route.airportTo.city}}</td>
        <td></td>
      </tr>
    </table>

    <hr/>

    <table cellpadding="0" cellspacing="0" border="0" width="100%" *ngIf="aircraftType">
      <tr>
        <td align="center" colspan="2">
          <img style="opacity: 0.8; filter: alpha(opacity=80);" src="assets/types/{{aircraftType}}.png"/>
        </td>
      </tr>
      <tr>
        <td width="20%"><a href="#">{{details.aircraft.registration}}</a></td>
        <td align="right">{{aircraftModel || details.aircraft.type.type}}</td>
      </tr>
    </table>

    <hr/>

    <table cellpadding="0" cellspacing="0" border="0" width="100%" *ngIf="airlineCode">
      <tr>
        <td align="center" colspan="2">
          <img style="max-height: 50px; max-width: 100%;" src="assets/airlines/{{airlineCode}}.png"/>
        </td>
      </tr>
      <tr>
        <td width="20%"><a href="#">{{details.route.airline.code}}</a></td>
        <td align="right">{{airlineName}}</td>
      </tr>
    </table>

    <hr/>

    <table cellpadding="0" cellspacing="0" border="0" width="100%">
      <tr>
        <td width="15%" matTooltip="Altitude"><b>ALT</b></td>
        <td width="35%">32000<small>ft</small></td>
        <td width="15%" matTooltip="Speed"><b>SPD</b></td>
        <td width="35%">420<small>kt</small></td>
      </tr>
      <tr>
        <td matTooltip="Vertical Rate"><b>VRT</b></td>
        <td>-640<small>ft/min</small></td>
        <td matTooltip="Course"><b>CRS</b></td>
        <td>125&deg;</td>
      </tr>
      <tr>
        <td matTooltip="Latitude"><b>LAT</b></td>
        <td>51.5679</td>
        <td matTooltip="Longitude"><b>LON</b></td>
        <td>2.77531</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
