<div id="map"></div>

<mat-card style="position: absolute; top: 100px; left: 50px; width: 400px; display: none;">
  <mat-card-header>
    <mat-card-title>UAL906
      <button mat-button>X</button>
    </mat-card-title>
    <mat-card-subtitle>United Airlines</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

<!--<mat-card >
  <button mat-raised-button color="primary" (click)="testBtnClick()">Test button</button>
</mat-card>-->
