<mat-grid-list cols="4">
  <mat-grid-tile style="border: solid 1px red" colspan="3">MAP</mat-grid-tile>
  <mat-grid-tile style="border: solid 1px red">RECENT</mat-grid-tile>

  <mat-grid-tile style="border: solid 1px red">
    <h2 class="mat-h2">Aircrafts</h2>
  </mat-grid-tile>

  <mat-grid-tile style="border: solid 1px red">
    <h2 class="mat-h2">Airlines</h2>
  </mat-grid-tile>

  <mat-grid-tile style="border: solid 1px red">
    <h2 class="mat-h2">Origins</h2>
  </mat-grid-tile>

  <mat-grid-tile style="border: solid 1px red">
    <h2 class="mat-h2">Destinations</h2>
  </mat-grid-tile>
</mat-grid-list>
